rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Shared functions
    function isSignedIn() { return request.auth != null; }
    function isOwner(userId) { return isSignedIn() && request.auth.uid == userId; }

    match /users/{userId} {
      allow read, write: if isOwner(userId);
      
      match /directories/{document=**} {
        allow read, write: if isOwner(userId);
      }
      
      match /state/{document=**} {
        allow read, write: if isOwner(userId);
      }
      
      match /logs/{document=**} {
        allow read, write: if isOwner(userId);
      }
    }
  }
}

